<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PennStateColors"
        tools:targetApi="s">
        <!--tools:targetApi="31">-->
        <activity android:name=".controller.appscreens.SignIn" android:exported="true">
		
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.appscreens.SignUp"/>
        <activity android:name=".controller.appscreens.Homepage"/>
        <activity android:name=".controller.appscreens.ResetPassword"/>
        <activity android:name=".controller.appscreens.DestinationQueue"/>
        <activity android:name=".controller.appscreens.EventPage"/>
        <activity android:name=".controller.appscreens.MapPage"/>
        <activity android:name=".controller.appscreens.EventOrgManageEvents"/>
        <activity android:name=".controller.appscreens.AdminHome"/>
        <activity android:name=".controller.appscreens.AdminLocAdd"/>
        <activity android:name=".controller.appscreens.AdminLocDelete"/>
        <activity android:name=".controller.appscreens.AdminUserDelete"/>
        <activity android:name=".controller.appscreens.AdminAddAdmin"/>
        <activity android:name=".controller.appscreens.AdminAddEventOrg"/>
    </application>

</manifest>